.bodyindex {
    background-color: #ffdd90;
    /*****  background-image: url("img/fondo.jpg"); *****/
    background-repeat: no-repeat;
    background-size: cover;
    }

a{
    color: black;
}

.resp{
    height: 100%;
    width: 100% ;
    text-align: center;
}
